@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sour: 'Sour Gummy', sans-serif;
  --color-matcha: #809671;
}

@layer utilities {
  .material-symbols {
    @apply inline-block leading-none align-middle;
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: normal;
    /* font-size: 32px; */
    text-transform: none;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' -25,
      'opsz' 48;
  }
}

:root {
  @apply font-sans font-normal leading-[1.5] text-white bg-[#242424];

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-medium text-indigo-400 no-underline hover:text-indigo-400;
}


body {
  @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
}

h1 {
  @apply text-3xl text-white;
}


/* button {
  @apply rounded-lg border border-transparent px-[0.6em] py-[0.6em] text-base font-medium bg-[#1a1a1a] cursor-pointer transition-colors hover:border-indigo-400;
} */


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-cyan-950 bg-white;
  }
  a:hover {
    @apply text-indigo-400;
  }
  button {
    @apply bg-white;
  }
}
